# Server Configuration
PORT=5000
NODE_ENV=development

# Security / CORS Configuration
CORS_ORIGIN=http://localhost:3000

# Database Configuration (Required for MongoDB connection)
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/medicodocs
